<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.TagDao">
    <resultMap id="TagMap" type="com.test.domain.Tag">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="tag_type" property="tagType" jdbcType="INTEGER"/>
        <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>